* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

button {
    padding: 18px 50px;
    border-radius: 4px;
    background: linear-gradient(to right, red, blue, black);
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    color: #bfbfbf;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

h1 {
    margin: 20px;
    color: #212121;
}

h1 span {
    font-size: 5rem;
}